/* app/globals.css */
@import 'tailwindcss';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  box-sizing: border-box;
  /* padding: 0;
  margin: 0; */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.wrapper {
  margin: 0 auto;
}

.key {
  background-image: url('../public/key.svg');
  background-size: 100% 100%;
}

.note {
  background-image: url('../public/note-red.svg');
  background-size: 100% 100%;
}

.note-up {
  position: relative;
  z-index: 5;
}

button {
  cursor: pointer;
  z-index: 10;
  position:static;
  
}

.flex-center {
  align-items: center;
  justify-content: center;
}